{% extends "base.html" %}

{% block content %}

<form action='/welcome' method='post'>
    <label for='usrname'>Username:</label>
    <input id='usrname' type='text' name='usrname'/>
    <br>

    <label for='passw'>Password:</label>
    <input id='passw' type='password' name='passw'/>
    <br>

    <label for='pass_verify'>Verify Password:</label>
    <input id='pass_verify' type='password' name='pass_verify'/>
    <br>

    <label for='email'>Email (Optional):</label>
    <input id='email' type='text' name='email'/>
    <br>

    <input action='/welcome' type='submit' />

    {% if error %}
      <p class='error'>{{ error }}</p>
    {% endif %}
    
</form>



{% endblock %}
