{% extends "base.html" %}

{% block content %}

<form action='/welcome' method='post'>
    <label for='usrname'>Username:</label>
    <input id='usrname' type='text' name='usrname' value='{{ usrname_val }}' />
    {% if error_u %}
      <span class='error'>{{ error_u }}</span>
    {% endif %}
    <br>

    <label for='passw'>Password:</label>
    <input id='passw' type='password' name='passw'/>
    {% if error_p %}
      <span class='error'>{{ error_p }}</span>
    {% endif %}
    <br>

    <label for='pass_verify'>Verify Password:</label>
    <input id='pass_verify' type='password' name='pass_verify'/>
    {% if error_pv %}
      <span class='error'>{{ error_pv }}</span>
    {% endif %}
    <br>

    <label for='email'>Email (Optional):</label>
    <input id='email' type='text' name='email' value='{{ email_val }}' />
    {% if error_e %}
      <span class='error'>{{ error_e }}</span>
    {% endif %}
    <br>

    <input action='/welcome' type='submit' />

</form>



{% endblock %}
